# Homework

- Using the Excel data file on blackboard
- Select two characteristics of those available in the file to use as strata
- Randomly sample 20 people in each of your strata
- Print the first page of your Excel file and bring it to next class

In [27]:
install.packages("splitstackshape")

also installing the dependency ‘data.table’

The downloaded binary packages are in
	/var/folders/6y/0_s8n7_x4r74c_v0fdskpy140000gn/T//Rtmpf4pL6U/downloaded_packages

Source: https://stackoverflow.com/questions/23479512/stratified-random-sampling-from-data-frame

In [3]:
install.packages("readxl")

also installing the dependencies ‘rematch’, ‘hms’, ‘cellranger’, ‘progress’

The downloaded binary packages are in
	/var/folders/6y/0_s8n7_x4r74c_v0fdskpy140000gn/T//Rtmpf4pL6U/downloaded_packages

In [60]:
install.packages("writexl")

The downloaded binary packages are in
	/var/folders/6y/0_s8n7_x4r74c_v0fdskpy140000gn/T//Rtmpf4pL6U/downloaded_packages

In [61]:
library("readxl")
library("splitstackshape")
library("writexl")

In [14]:
getwd()

[1] "/Users/mb/Documents/Baruch_I:O Master/PSY 9703 Design of Psychological Research/Homework/Data Homework/Code"

## Read in Data

In [13]:
# xls files
my_data <- read_excel("../Input Data/Data for Sampling Exercise.xls")

In [17]:
head(my_data)

  ID LEVEL   TIME_AT_LEVEL             GEOGRAPHY YEARS_OF_SERVICE Gender
1 1  Analyst 7 - 12 months             France    0 - 1 years      Male
2 2  Analyst 7 - 12 months             France    0 - 1 years      Female
3 3  Analyst 13 - 24 months or 2 years France    1 - 3 years      Male
4 4  Analyst 13 - 24 months or 2 years France    1 - 3 years      Male
5 5  Analyst 13 - 24 months or 2 years France    1 - 3 years      Male
6 6  Analyst 13 - 24 months or 2 years France    1 - 3 years      Male

## Frequencies

In [18]:
attach(my_data)

In [19]:
mytable <- table (LEVEL)
mytable

LEVEL
         Analyst       Consultant          Manager Senior Executive
            2432             2948             3086             1534

In [20]:
mytable <- table (TIME_AT_LEVEL)
mytable

TIME_AT_LEVEL
                    0 - 6 months        13 - 24 months or 2 years
                             172                             3778
       25 - 36 months or 3 years        37 - 48 months or 4 years
                            1873                              712
       49 - 60 months or 5 years        61 - 72 months or 6 years
                             405                              561
                   7 - 12 months        73 - 84 months or 7 years
                            1866                              196
     85 - 120 months or 10 years More than 120 months or 10 years
                             250                              187

In [21]:
mytable <- table (GEOGRAPHY)
mytable

GEOGRAPHY
                  France                    India                    Japan
                    1704                      333                      774
           UK or Ireland United States of America
                    2173                     5016

In [22]:
mytable <- table (YEARS_OF_SERVICE)
mytable

YEARS_OF_SERVICE
     0 - 1 years      1 - 3 years    10 - 15 years    15 - 20 years
              71             4127              578              542
   20 - 25 years 25 or more years      3 - 5 years     5 - 10 years
             160               61             1403             3058

In [23]:
mytable <- table (Gender)
mytable

Gender
Female   Male
  2957   7043

In [26]:
prop.table(mytable) # cell percentages

Gender
Female   Male
0.2957 0.7043

## Stratification

- Geography - Sample 20 people out of each Country
- Gender - Sample 20 out of each gender

In [36]:
out <- stratified(my_data, c("Gender"), 20)

In [51]:
attach(out)

The following objects are masked from out2:

    Gender, GEOGRAPHY, ID, LEVEL, TIME_AT_LEVEL, YEARS_OF_SERVICE

The following objects are masked from out (pos = 4):

    Gender, GEOGRAPHY, ID, LEVEL, TIME_AT_LEVEL, YEARS_OF_SERVICE

The following objects are masked from out (pos = 5):

    Gender, GEOGRAPHY, ID, LEVEL, TIME_AT_LEVEL, YEARS_OF_SERVICE

The following objects are masked from my_data:

    Gender, GEOGRAPHY, ID, LEVEL, TIME_AT_LEVEL, YEARS_OF_SERVICE

In [53]:
table(Gender)

Gender
Female   Male
    20     20

In [49]:
out2 <- stratified(my_data, c("GEOGRAPHY"), 20)

In [54]:
attach(out2)

The following objects are masked from out (pos = 3):

    Gender, GEOGRAPHY, ID, LEVEL, TIME_AT_LEVEL, YEARS_OF_SERVICE

The following objects are masked from out2 (pos = 4):

    Gender, GEOGRAPHY, ID, LEVEL, TIME_AT_LEVEL, YEARS_OF_SERVICE

The following objects are masked from out (pos = 5):

    Gender, GEOGRAPHY, ID, LEVEL, TIME_AT_LEVEL, YEARS_OF_SERVICE

The following objects are masked from out (pos = 6):

    Gender, GEOGRAPHY, ID, LEVEL, TIME_AT_LEVEL, YEARS_OF_SERVICE

The following objects are masked from my_data:

    Gender, GEOGRAPHY, ID, LEVEL, TIME_AT_LEVEL, YEARS_OF_SERVICE

In [55]:
table(GEOGRAPHY)

GEOGRAPHY
                  France                    India                    Japan
                      20                       20                       20
           UK or Ireland United States of America
                      20                       20

## Export Data

In [62]:
write_xlsx(out, "../Output Data/stratified by gender.xls")

In [63]:
write_xlsx(out2, "../Output Data/stratified by geography.xls")